[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
folium = "*"
pillow = "*"
django-htmx = "*"
django-allauth = "*"
django-geoposition-2 = "*"
django-jazzmin = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
